
/* To prevent the big white flash, giving html a background color.  However, then the 
   in firefox at least, the body is no longer 100% height.  To fix that requires 100%
   height to be specified both on html and body.
*/

html{
  height: 100%;
  background: rgb(23 ,88 ,142);
}

/*
for the background image:
https://en.wikipedia.org/wiki/Ukraine
image attribution: Роман Наумов, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons

Without background specified for html, I had the following:

  background: rgb(23 ,88 ,142) url(Kiev_flag.jpg);

It was working, but then the image stopped showing.  Go figure.  Bandwidth of connection?  Is it that smart? So
then I moved coloring html, which also had issues, as noted above.
*/
body {
  height: 100%;
  padding-top: 3%;
  background: url(Kiev_flag.jpg);
  color: white;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav a{
  color: white;
}

.user{
  color:gold;
}
