/*
https://en.wikipedia.org/wiki/Ukraine
image attribution: Роман Наумов, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons
*/
body {
  background: linear-gradient(180deg ,rgb(23 ,88 ,142) ,gold 800px ,NavajoWhite); 
}

/*
label {
  color: white;
}
*/
