/*
https://en.wikipedia.org/wiki/Ukraine
image attribution: Роман Наумов, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons
*/
body {
  background: linear-gradient(90deg ,rgb(23 ,88 ,142) ,blue 20% ,gold 50% ,NavajoWhite);
}

p{
  color:white;
}
