/*
https://en.wikipedia.org/wiki/Ukraine
image attribution: Роман Наумов, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons
*/
body {
  margin-top: 3%;
}

.home {
   background: url(Kiev.jpg);
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}
